<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clause Extractor App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Clause Extractor App</h1>
      <p>Please upload your contract in PDF format.</p>
      <form
        action="{{ url_for('upload') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="contract" accept="application/pdf" required />
        <button type="submit">Upload</button>
      </form>
      <!-- {% if document_type %}
      <p>
        The document type of the uploaded file is:
        <strong>{{ document_type }}</strong>
      </p>
      {% endif %} {% if clause_names %}
        <p>
          The clause names in the uploaded file are:
          <ol>  
            {% for clause_name in clause_names %}
              <li>{{ clause_name }}</li>  
            {% endfor %}
          </ol>
        </p>
      {% endif %} -->
      <p id="success-message" style="display: none;">
        The file has been extracted and downloaded successfully!
      </p>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const successMessage = document.getElementById("success-message");
        if (window.location.href.includes("downloaded=true")) {
          successMessage.style.display = "block";
        }
      });
    </script>
  </body>
</html>
